<div ng-controller="ProveedoresController  as proveedoresCtrl">
    <div  class="title"><h1>Administrar Proveedores</h1></div>

    <div class="v-spacer"></div>
    <form name="productForm" novalidate>
        <div class="form-flex">
            <div>
                <input type="text" id="nombre" name="nombre" ng-model="proveedoresCtrl.proveedor.nombre"
                       ng-maxlength="45"
                       required><br>
                <label for="nombre">Nombre</label>
            </div>

            <div>
                <input type="text" id="cuit" name="cuit" ng-model="proveedoresCtrl.proveedor.cuit"
                       ng-maxlength="450" required><br>
                <label for="cuit">Cuit</label>

            </div>

            <div>
                <input type="text" id="telefono" name="telefono" ng-model="proveedoresCtrl.proveedor.telefono"
                       ng-maxlength="45"
                       required><br><label for="telefono">Telefono</label>
            </div>

            <div>
                <input type="text" id="mail" name="mail" ng-model="proveedoresCtrl.proveedor.mail"
                       ng-maxlength="45"
                       required><br><label for="mail">Mail</label>
            </div>

        </div>


        <br/>

        <div>
            <!--<input type="submit"-->
            <!--ng-disabled="productForm.user.$dirty && productForm.user.$invalid ||-->
            <!--productForm.email.$dirty && productForm.email.$invalid">-->
            <div class="btn"><input type="submit" ng-click="proveedoresCtrl.save();"
                                    ng-disabled="productForm.$invalid" class="relieve-2 btn-ok btn-big" value="">
                <label>Guardar Proveedor</label>
            </div>

            <div ng-if="proveedoresCtrl.id != 0" class="btn">
                <input type="submit" ng-click="proveedoresCtrl.delete();"
                       class="relieve-2 btn-delete btn-big" value="">
                <label>Eliminar Proveedor</label>
            </div>
        </div>

    </form>

</div>