<div ng-controller="ListadoVentasWebController as listadoVentasWebCtrl">
    <div class="title"><h1>Listado de Ventas Web</h1></div>
    <div class="v-spacer"></div>

    <div class="full-width">

        <input type="text" ng-model="listadoVentasWebCtrl.filtro" class="full-width" required/>
        <label>Buscar...</label>
    </div>
    <div class="full-width">
        <label class="label--checkbox">
            <input type="checkbox" class="checkbox"  ng-click="listadoVentasWebCtrl.todos();">
            Mostrar todas las ventas realizadas a través de la web, sin importar si están confirmadas.
        </label>

    </div>
    <br>
    <br>

    <table st-table="listadoVentasWebCtrl.ventas_web" class="table table-striped">
        <thead>
        <tr>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Mail</th>
            <th>Total</th>
            <th>Detalle</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in listadoVentasWebCtrl.ventas_web | filter:listadoVentasWebCtrl.filtro | filter:listadoVentasWebCtrl.soloActivos">
            <td>{{row.fecha}}</td>
            <td>{{row.usuario[0].nombre}}</td>
            <td>{{row.usuario[0].apellido}}</td>
            <td>{{row.usuario[0].mail}}</td>
            <td>{{row.total}}</td>
            <td>
                <div class="btn">
                    <button ng-click="listadoVentasWebCtrl.detalle(row.carrito_id)"
                            class="btn-medium btn-visibility"></button>
                    <label>Mostrar Detalle</label>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <!--<div class="lista-flex" ng-repeat="cliente in listadoClientesCtrl.clientes | filter:listadoClientesCtrl.filtro">-->

    <!--<span>{{cliente.nombre}}</span>-->
    <!--<span>{{cliente.apellido}}</span>-->


    <!--<div>-->
    <!--<div class="btn" ng-if="cliente.marcado == 1">-->
    <!--<button class="btn-medium btn-close"></button>-->
    <!--<label>No alojar</label>-->
    <!--</div>-->
    <!--<div class="btn">-->
    <!--<button ng-click="listadoClientesCtrl.detalle(cliente.cliente_id)"-->
    <!--class="btn-medium btn-visibility"></button>-->
    <!--<label>Mostrar Detalle</label>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->

    <div class="btn">

        <input type="button" class="relieve-2 btn-add  btn-big" value=""
               onclick="window.location='#/clientes/0';"/>

        <label>Nuevo Cliente</label>
    </div>
</div>
