<div class="title">
    <div class="btn ">
        <input type="submit" class="btn-back btn-medium no-margin"
               onclick="window.location='#/listado_clientes';"
               value="">
        <label>Volver</label>
    </div>
    <h1>Administrar Clientes</h1></div>
<div class="v-spacer"></div>
<form ng-controller="ClientesController  as clientesCtrl"
      name="clientesForm" novalidate>
    <div class="form-flex">
        <div>
            <input type="text" id="nombre" name="nombre" ng-model="clientesCtrl.cliente.nombre" ng-maxlength="100"
                   required><br>
            <label for="nombre">Nombre</label>

        </div>
        <div>
            <input type="text" id="apellido" name="apellido" ng-model="clientesCtrl.cliente.apellido" ng-maxlength="100"
                   required><br>
            <label for="apellido">Apellido</label>

        </div>

        <div>
            <input type="text" id="mail" name="mail" ng-model="clientesCtrl.cliente.mail" ng-maxlength="100"
                   required><br>
            <label for="mail">Mail</label>

        </div>


        <div>

            <select name="nacionalidad" id="nacionalidad"
                    ng-options="nacionalidad.country_name  for nacionalidad in clientesCtrl.nacionalidades"
                    ng-model="clientesCtrl.nacionalidad">

            </select><br><label for="nacionalidad">Nacionalidad</label>

        </div>

        <div>

            <select name="tipo_doc" id="tipo_doc" ng-model="clientesCtrl.cliente.tipo_doc">
                <option value="0" selected>DNI</option>
                <option value="1">PASS</option>
                <option value="2">CI</option>
                <option value="3">Otro</option>
            </select><br><label for="tipo_doc">Tipo Doc.</label>

        </div>


        <div>
            <input type="text" id="nro_doc" name="nro_doc" ng-model="clientesCtrl.cliente.nro_doc" ng-maxlength="100"
                   required><br>
            <label for="nro_doc">Nro. Doc.</label>

        </div>

        <div>
            <input type="text" id="comentarios" name="comentarios" ng-model="clientesCtrl.cliente.comentarios" ng-maxlength="100"
                   required ng-init="clientesCtrl.cliente.comentarios = ' '"><br>
            <label for="comentarios">Comentarios</label>

        </div>

        <div>

            <select name="marcado" id="marcado" ng-model="clientesCtrl.cliente.marcado">
                <option value="1">Si</option>
                <option value="0" selected>No</option>
            </select><br><label for="marcado">Marcado</label>

        </div>

        <div>
            <input type="text" id="fecha_nacimiento" name="fecha_nacimiento" ng-model="clientesCtrl.cliente.fecha_nacimiento" ng-maxlength="100"
                   required><br>
            <label for="fecha_nacimiento">Fecha Nacimiento</label>

        </div>

        
    </div>
    <br/>

    <div>
        <!--<input type="submit"-->
        <!--ng-disabled="clientesForm.user.$dirty && clientesForm.user.$invalid ||-->
        <!--clientesForm.email.$dirty && clientesForm.email.$invalid">-->
        <div class="btn"><input type="submit" ng-click="clientesCtrl.save();"
                                 class="relieve-2 btn-ok btn-big" value="">
            <label>Guardar Producto</label>
        </div>

        <div ng-if="clientesCtrl.id != 0" class="btn">
            <input type="submit" ng-click="clientesCtrl.delete();"
                   class="relieve-2 btn-delete btn-big" value="">
            <label>Eliminar Cliente</label>
        </div>
    </div>

</form>

