<div ng-controller="ListadoUsuariosController as listadoUsuariosCtrl">
    <div class="title"><h1>Listado Usuarios</h1></div>
    <div class="v-spacer"></div>

    <div class="full-width">

        <input type="text" ng-model="listadoUsuariosCtrl.filtro" class="full-width" required/>
        <label>Buscar...</label>
    </div>
    <!--<div class="lista-flex" ng-repeat="usuario in listadoUsuariosCtrl.usuarios | filter:listadoUsuariosCtrl.filtro">-->

    <!--<span>{{usuario.nombre}}</span>-->
    <!--<span>{{usuario.apellido}}</span>-->


    <!--<div>-->
    <!--<div class="btn" ng-if="usuario.marcado == 1">-->
    <!--<button class="btn-medium btn-close"></button>-->
    <!--<label>No alojar</label>-->
    <!--</div>-->
    <!--<div class="btn">-->
    <!--<button ng-click="listadoUsuariosCtrl.detalle(usuario.usuario_id)"-->
    <!--class="btn-medium btn-visibility"></button>-->
    <!--<label>Mostrar Detalle</label>-->
    <!--</div>-->

    <!--</div>-->

    <!--</div>-->


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Mail</th>
        </tr>
        </thead>
        <tbody>

        <tr
                ng-click="listadoUsuariosCtrl.detalle(row.usuario_id)"
                ng-repeat="row in listadoUsuariosCtrl.usuarios | filter:listadoUsuariosCtrl.filtro | limitTo:listadoUsuariosCtrl.end:listadoUsuariosCtrl.start"
                ac-last-list-item>

            <td class="">{{row.nombre}}</td>
            <td class="">{{row.apellido}}</td>
            <td class="">{{row.rol_texto}}</td>
            <td class="">{{row.mail}}</td>

        </tr>
        <!--</tbody>-->
        <!--<tfoot>-->
        <!--<tr>-->
        <!--<td colspan="5" class="text-center" style="display: flex;">-->
        <!-- -->
        <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    </table>
    <div style="display: flex; width: 100%; align-content: space-around;">
        <div style="flex: 5;"></div>
        <div style="height: 40px; width: 40px;text-align: center;line-height:40px;"
             class="btn btn-empty btn-small relieve-1"
             ng-click="listadoUsuariosCtrl.prev();">Ant.
        </div>
        <!--<div style="max-width: 100%;display: flex; overflow-x: auto; scrollbar-face-color: #000000;">-->

        <!--<div style="text-align: center;line-height:25px;margin: 5px; min-width: 25px; height: 25px; cursor: pointer;"-->
        <!--class="btn btn-empty btn-small" ng-repeat="numero in listadoUsuariosCtrl.paginas"-->
        <!--ng-click="listadoUsuariosCtrl.irAPagina($index);">{{$index + 1}}</div>-->
        <!--</div>-->
        <div style="margin-top: 10px;">
            <span>Página {{listadoUsuariosCtrl.pagina}} de {{listadoUsuariosCtrl.paginas}}</span></div>
        <div style="margin-top: 10px;">Ir a <input style="width: 40px;" type="number"
                                                   ng-model="listadoUsuariosCtrl.pagina"
                                                   ng-change="listadoUsuariosCtrl.goToPagina();"
                                                   ng-keyup="listadoUsuariosCtrl.goToPagina();"></div>

        <div style="height: 40px; width: 40px;text-align: center;line-height:40px;"
             class="btn btn-empty btn-small relieve-1"
             ng-click="listadoUsuariosCtrl.next();">Sig.
        </div>
        <div style="flex: 5;"></div>
    </div>
    <div class="btn">

        <input type="button" class="relieve-2 btn-add  btn-big" value=""
               onclick="window.location='#/usuarios/0';"/>

        <label>Nuevo Usuario</label>
    </div>
</div>
