<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Administración</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
    <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.min.css">
    <link rel="stylesheet" href="bower_components/ac-angular-lateral-nav/app/nav/nav.css">
    <link rel="stylesheet" href="bower_components/ac-angular-search-panel/app/search-panel/search-panel.css">
    <link rel="stylesheet" href="ac-angular-waiting/ac-angular-waiting.css">
    <link rel="stylesheet" href="estilos/estilo-base.css">
    <link rel="stylesheet" href="estilos/table-style.css">
    <link rel="stylesheet" href="app.css">
    <script>

        // Cargo las configuraciones para la app
        window.appName = 'bayresAdmin';
        window.installPath = 'bower_components';
        window.mailAdmin = 'arielcessario@gmail.com';
        window.mailAdmins = [{mail: 'arielcessario@gmail.com'}, {mail: 'mmaneff@gmail.com'}];
    </script>
</head>
<body ng-controller="MainCtrl as mainCtrl">
<div style="position: fixed; top: 0; left: 0; right: 0; height: 200px; background-color: #B0BEC5;"></div>
<ac-angular-waiting></ac-angular-waiting>
<nav-bar menu-list="mainCtrl.data"></nav-bar>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-view class="ac-main"></div>
<ac-angular-login-client ng-click="mainCtrl.logout();" class="relieve-2"></ac-angular-login-client>

<div id="general-search" ng-if="mainCtrl.showSearchPanel"
     style="position: fixed; height: 100%; width: 100%; top:0; left: 0; background-color: rgba(0,0,0,0.8);z-index: 10000;">
    <input id="inputSearchPanel" ng-model="mainCtrl.generalSearchTerm" type="text"
           ng-keydown="mainCtrl.searchTo();mainCtrl.goToScreenList($event);"
           style="color:white !important; width:360px; position: absolute; top: 45%; left: calc(50% - 180px);">

    <div ng-if="mainCtrl.generalSearchTerm.length > 0"
         style="width:360px; position: absolute; top: 55%; left: calc(50% - 180px); display: flex; flex-direction: column;">

        <select style="color:white; width: 360px; margin: 10px; overflow: hidden" name="" id="resultSearchScreen"
                size="10" ng-keydown="mainCtrl.moveInScreenList($event)">
            <option value="{{link.ref}}" ng-click="mainCtrl.selectScreen(link.ref)"
                    ng-repeat="link in mainCtrl.data | filter:mainCtrl.generalSearchTerm">{{link.name}}
            </option>
        </select>
        <!--<div ng-repeat="link in mainCtrl.data | filter:mainCtrl.generalSearchTerm"-->
        <!--style="color:white; width: 360px; margin: 10px;"><a-->
        <!--ng-click="mainCtrl.showSearchPanel = false; mainCtrl.generalSearchTerm='';"-->
        <!--style="color:white; width: 360px; text-decoration: none;" href="{{link.ref}}">{{link.name}}</a></div>-->
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<!--<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.min.js"></script>
<script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>
<script src="bower_components/ac-angular-lateral-nav/app/nav/nav.js"></script>
<script src="bower_components/ac-angular-search-panel/app/search-panel/search-panel.js"></script>
<script src="bower_components/ac-angular-movimientos/app/movimientos-service.js"></script>
<script src="bower_components/ac-angular-movimientos/app/movimientos-list.js"></script>
<script src="bower_components/ac-angular-login-client/app/verify-login.js"></script>
<script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
<script src="ac-angular-waiting/ac-angular-waiting.js"></script>
<script src="//cdn.auth0.com/js/lock-7.9.js"></script>
<script src="//cdn.auth0.com/w2/auth0-angular-4.js"></script>
<script src="bower_components/a0-angular-storage/dist/angular-storage.min.js"></script>
<script src="bower_components/angular-jwt/dist/angular-jwt.min.js"></script>
<script src="bower_components/ac-angular-utils/ac-utils.js"></script>
<script src="bower_components/ac-angular-usuarios/ac-usuarios.js"></script>
<script src="bower_components/ac-angular-productos/ac-productos.js"></script>
<script src="bower_components/ac-angular-stocks/ac-stocks.js"></script>
<script src="bower_components/ac-angular-slider-manager/slider-manager.js"></script>
<script src="bower_components/ac-angular-sucursales/ac-sucursales.js"></script>
<script src="app.js"></script>
<script src="login/login.js"></script>
<script src="productos/productos.js"></script>
<script src="listado_productos/listado_productos.js"></script>
<script src="pago_proveedores/pago_proveedores.js"></script>
<script src="pedidos/pedidos.js"></script>
<script src="listado_pedidos/listado_pedidos.js"></script>
<script src="consulta_stock/consulta_stock.js"></script>
<script src="proveedores/proveedores.js"></script>
<script src="a_reponer/a_reponer.js"></script>
<script src="categorias/categorias.js"></script>
<script src="listado_categorias/listado_categorias.js"></script>
<script src="cajas/cajas.js"></script>
<script src="usuarios/usuarios.js"></script>
<script src="listado_usuarios/listado_usuarios.js"></script>
<script src="gastos/gastos.js"></script>
<script src="depositos/depositos.js"></script>
<script src="resumen_caja_diaria/resumen_caja_diaria.js"></script>
<script src="historico_caja_diaria/historico_caja_diaria.js"></script>
<script src="movimientos/movimientos.js"></script>
<script src="resultados/resultados.js"></script>
<script src="total_concepto/total_concepto.js"></script>
<script src="abrir_cerrar_caja/abrir_cerrar_caja.js"></script>
<script src="nacionalidades/nacionalidades.js"></script>
<script src="servicios/servicios.js"></script>
<script src="listado_deudores/listado_deudores.js"></script>
<script src="ventas_web/ventas_web.js"></script>
<script src="listado_ventas_web/listado_ventas_web.js"></script>
<script src="ofertas/ofertas.js"></script>
<script src="detalle_deudores/detalle_deudores.js"></script>
<script src="cancelar_deuda/cancelar_deuda.js"></script>
<script src="listado_proveedores/listado_proveedores.js"></script>
<script src="trasladar_stock/trasladar_stock.js"></script>
<script src="noticias/noticias.js"></script>
<script src="listado_noticias/listado_noticias.js"></script>
<script src="comentarios/comentarios.js"></script>
<script src="sucursales/sucursales.js"></script>
<script src="listado_sucursales/listado_sucursales.js"></script>
<script src="fraccionado/fraccionado.js"></script>
<script src="reportes/reportes.js"></script>
</body>
</html>
