<div ng-controller="ResumenCajaDiariaController as resumenCajaDiariaCtrl">
    <div class="title"><h1>Resumen de Caja</h1></div>
    <div class="v-spacer"></div>
    <div>
        <select
                ng-model="resumenCajaDiariaCtrl.sucursal"
                ng-options="sucursal.nombre  for sucursal in resumenCajaDiariaCtrl.sucursales" name=""
                ng-click="resumenCajaDiariaCtrl.filtroSucursal();">

        </select>
        <br><label for="status">Sucursal</label>
    </div>
    <div class="half-v-spacer"></div>


    <table st-table="resumenCajaDiariaCtrl.asientos" class="table table-striped">
        <thead>
        <tr>
            <th>Detalle</th>
            <th style="text-align: right;">Valor</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in resumenCajaDiariaCtrl.asientos">

            <td class="table-row"
                ng-class="{'table-row-result':row.cuenta_id.indexOf('1.1.1.') > -1 || row.cuenta_id.indexOf('1.1.2.') > -1}">
                {{row.description}}
                <div class="btn" ng-if="row.cuenta_id.indexOf('1.1.1.') > -1 || row.cuenta_id.indexOf('1.1.2.') > -1;" style="margin-top: -10px;">
                    <input type="submit" ng-click="resumenCajaDiariaCtrl.deleteAsiento(row.asiento_id);"
                           class="btn-delete btn-small" value="">
                    <label>Eliminar movimiento</label>
                </div>
                <!--<div class="btn" ng-if="row.cuenta_id.indexOf('1.1.1.0') > -1;" style="margin-top: -10px;">-->
                    <!--<input type="submit" ng-click="resumenCajaDiariaCtrl.modificarAsiento(row.asiento_id);"-->
                           <!--class="btn-edit btn-small" value="">-->
                    <!--<label>Modificar movimiento</label>-->
                <!--</div>-->
            </td>
            <td class="table-row"
                ng-class="{'table-row-result':row.cuenta_id.indexOf('1.1.1.') > -1 || row.cuenta_id.indexOf('1.1.2.') > -1}"
                style="text-align: right;">{{row.valor}}</td>
        </tr>
        </tbody>
    </table>

    <!--<div ng-repeat="asiento in resumenCajaDiariaCtrl.asientos | filter:resumenCajaDiariaCtrl.filtro">-->

        <!--<div>{{asiento[0].fecha}}-->
            <!--<div class="btn">-->
                <!--<input type="submit" ng-click="resumenCajaDiariaCtrl.deleteAsiento(asiento[0].asiento_id);"-->
                       <!--class="btn-delete btn-small" value="">-->
                <!--<label>Eliminar movimiento</label>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div ng-repeat="movimiento in asiento" class="full-width">-->
            <!--<div ng-if="movimiento.cuenta_id.indexOf('4.1.1.') > -1 " class="full-width">-->

                <!--<div ng-if="movimiento.cuenta_id == '4.1.1.01'" class="form-flex">-->
                    <!--<div>{{movimiento.detalles[3].detalle}}</div>-->
                    <!--<div>{{movimiento.detalles[2].detalle}} x {{movimiento.detalles[1].detalle | currency}}</div>-->
                <!--</div>-->

                <!--<div ng-if="movimiento.cuenta_id == '4.1.1.02'" class="form-flex">-->
                    <!--<div>{{movimiento.detalles[0].detalle}}</div>-->
                    <!--<div>{{movimiento.detalles[4].detalle}} x {{movimiento.importe | currency}}</div>-->
                <!--</div>-->

            <!--</div>-->

            <!--<div ng-if="movimiento.cuenta_id.indexOf('1.1.1.0') > -1" class="form-flex total">-->
                <!--<div></div>-->
                <!--<div>{{movimiento.importe | currency}}</div>-->
            <!--</div>-->

            <!--<div ng-if="movimiento.cuenta_id.indexOf('1.1.1.2') > -1" class="form-flex">-->
                <!--<div>Retiro de Caja</div>-->
                <!--<div>{{movimiento.importe | currency}}</div>-->
            <!--</div>-->


            <!--<div ng-if="movimiento.cuenta_id == '1.1.2.01'" class="form-flex total">-->
                <!--<div>Deudas: {{movimiento.detalles[0].detalle}}</div>-->
                <!--<div>{{movimiento.importe | currency}}</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;{{movimiento}}&ndash;&gt;-->
            <!--&lt;!&ndash;<div style="color: red;">{{movimiento}}</div>&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;<span>{{asiento.fecha}}</span><span>{{producto.categoria}}</span> <span class="descr">{{producto.descripcion}}</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="btn">&ndash;&gt;-->
        <!--&lt;!&ndash;<button ng-click="resumenCajaDiariaCtrl.detalle(producto.producto_id)" class="btn-medium btn-visibility"></button>&ndash;&gt;-->
        <!--&lt;!&ndash;<label>Mostrar Detalle</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--<div class="half-v-spacer"></div>-->
    <!--</div>-->
    <div class="full-width form-flex">
        <div></div>
        <h2 style="font-weight: 700">Total en caja: {{resumenCajaDiariaCtrl.saldoInicial | currency}}</h2>
        <!--<input type="text" ng-model="resumenCajaDiariaCtrl.filtro" class="full-width" required/>-->
        <!--<label>Buscar...</label>-->
    </div>

    <!--<div class="btn">-->

    <!--<input type="button" class="relieve-2 btn-add  btn-big" value=""-->
    <!--onclick="window.location='#/productos/0';"/>-->

    <!--<label>Nuevo Producto</label>-->
    <!--</div>-->
</div>
