<div ng-controller="CajasController as cajasCtrl" id="screen-caja">

    <div class="title">
        <h1>
            Caja
        </h1>
    </div>

    <div class="v-spacer"></div>

    <form name="detalleProductoForm">
        <div class="responsive-container">
            <div class="input-container">
                <select name="" id="tipo_precio" ng-model="cajasCtrl.tipo_precio">
                    <option value="0">Minorista</option>
                    <option value="1">Mayorista</option>
                    <option value="2">Oferta</option>
                </select>
                <label for="tipo_precio">Tipo de Precio</label>
            </div>

            <div class="input-container">
                <input ac-search-panel
                       service="UserService"
                       exact-match="false"
                       visible="nombre,apellido"
                       ng-model="cajasCtrl.cliente.nombre"
                       objeto="cajasCtrl.cliente"
                       params="nombre,apellido"
                       type="text" required>
                <label for="tipo_precio">Cliente</label>
            </div>
            <div class="input-container">

                <!--Formas de pago-->
                <!--01 - Efectivo-->
                <!--02 - TD-->
                <!--03 - TC-->
                <!--04 - Transferencia CA-->
                <!--05 - Transferencia CC-->
                <!--05 - Caja General-->
                <select name="" id="forma_pago" ng-model="cajasCtrl.forma_pago">
                    <option value="01">Efectivo</option>
                    <option value="02">Débito</option>
                    <option value="03">Crédito</option>
                    <option value="04">Transferencia CA</option>
                    <option value="05">Transferencia CC</option>
                    <option value="08">Mercado Pago</option>
                    <option value="09">Mercado Libre Efectivo</option>
                    <option value="10">Mercado Libre Transferencia</option>
                </select><label for="tipo_precio">Forma de Pago</label>
            </div>

            <div class="btn" style="margin-top: -10px;">
                <input type="button" class="relieve-2 btn-receipt  btn-medium" value=""
                       onclick="window.location='#/resumen_caja_diaria';"/>
                <label>Ir a detalle de caja</label>
            </div>
        </div>
        <div class="v-spacer"></div>
        <div class="responsive-container">

            <div class="input-container" style="position: relative; min-height: 100px;">
                <input id="txtSearchId" type="text" ng-keyup="cajasCtrl.moveInProductSearch($event)"
                       ng-model="cajasCtrl.searchProductText" autocomplete="off">
                <!--<input ac-search-panel-->
                <!--id="producto-search"-->
                <!--service="StockService"-->
                <!--exact-match="false"-->
                <!--visible="nombreProducto"-->
                <!--ng-model="cajasCtrl.producto.nombreProducto"-->
                <!--objeto="cajasCtrl.producto"-->
                <!--params="1"-->
                <!--type="text"-->
                <!--func="getDisponibles"-->
                <!--required>-->
                <label for="tipo_precio">Producto</label>
                <select style="position: absolute; width: 100%;" ng-keyup="cajasCtrl.moveInProductSearch($event)"
                        ng-click="cajasCtrl.moveInProductSearch($event)"
                        ng-model="cajasCtrl.producto" name="" id="resultsSearchProducts" size="5"
                        ng-options="producto.nombreProducto + ': $' + producto.precios[0].precio + ' $' + producto.precios[1].precio + ' $' + producto.precios[2].precio  for producto in cajasCtrl.listaProductos">

                </select>
            </div>


            <!-- -->
            <!--<ac-search-panel-->
            <!--obj="cajasCtrl.producto"-->
            <!--obj-name="cajasCtrl.producto.nombre"-->
            <!--nombref="cajasForm"-->
            <!--nombre="02"-->
            <!--nombre-visible="Producto"-->
            <!--font-size="32"-->
            <!--width="200"-->
            <!--func="cajasCtrl.fn_productos_sku"-->
            <!--extra-filter="s">-->
            <!--</ac-search-panel>-->

            <!--<ac-search-panel-->
            <!--obj="cajasCtrl.producto"-->
            <!--obj-name="cajasCtrl.producto.sku"-->
            <!--nombref="cajasForm"-->
            <!--nombre="03"-->
            <!--nombre-visible="Código"-->
            <!--font-size="32"-->
            <!--width="200"-->
            <!--func="cajasCtrl.fn_productos_sku"-->
            <!--extra-filter="">-->
            <!--</ac-search-panel>-->

            <div class="input-container">
                <input type="number" id="cantidad" name="cantidad" ng-model="cajasCtrl.cantidad" ng-maxlength="45"
                       required ng-keyup="($event.keyCode ==13)?cajasCtrl.agregarDetalle():''">
                <label for="cantidad">Cantidad</label>
            </div>


            <div style="width: 100px;">
                $<span style="max-width: 60px;">{{cajasCtrl.producto.precios[cajasCtrl.tipo_precio].precio}}</span>
                <!--<input type="text" id="precio_unidad_prod" name="precio_unidad_prod"-->
                <!--ng-model="cajasCtrl.producto.precios[cajasCtrl.tipo_precio].precio" ng-maxlength="45"-->
                <!--required><br>-->
                <!--<label for="precio_unidad_prod">Precio</label>-->
                <!--<span style="color:red"-->
                <!--ng-show="cajasForm.precio_unidad_prod.$dirty && cajasForm.precio_unidad_prod.$invalid">-->
                <!--<span ng-show="cajasForm.precio_unidad_prod.$error.required">Debe ingresar un Nombre</span>-->
                <!--<span ng-show="cajasForm.precio_unidad_prod.$error.maxlength">El Nombre es demasiado largo (Máximo 45)</span>-->
                <!--</span>-->
            </div>
            <img ng-src="./images/{{cajasCtrl.producto.fotos[0].nombre}}"
                 alt="{{cajasCtrl.producto.fotos[0].nombre}}"
                 height="100" width="100" style="background-color: #dddddd; margin-top: -50px;">

            <div class="btn" style="margin-top: -10px;">
                <input type="button" class="relieve-2 btn-add  btn-medium" value=""
                       ng-click="cajasCtrl.agregarDetalle()"/>
                <label>Agregar producto</label>
            </div>
        </div>

    </form>
    <div class="v-spacer"></div>

    <table st-table="cajasCtrl.detalles" class="table table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th style="width: 30%;">Producto</th>
            <th>Precio Unitario</th>
            <th>Cantidad</th>
            <th style="text-align: right;padding-right: 25px;">Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in cajasCtrl.detalles">

            <td class="">{{row.sku}}</td>
            <td class="">{{row.producto_nombre}}</td>
            <td class="">{{row.precio_unidad}}</td>
            <td class="">{{row.cantidad}}</td>
            <td style="text-align: right;padding-right: 25px;" class="">
                <input style="width: 60px; margin:0px; text-align: right;"
                       ng-change="cajasCtrl.calcularTotal();"
                       ng-if="cajasCtrl.forma_pago =='08' ||
                 cajasCtrl.forma_pago =='09' ||
                 cajasCtrl.forma_pago =='10'"
                       type="number" step="0.01" ng-model="row.precio_total">

                <div ng-if="cajasCtrl.forma_pago !='08' &&
                 cajasCtrl.forma_pago !='09' &&
                 cajasCtrl.forma_pago !='10'">{{row.precio_total | currency}}
                </div>
            </td>
            <td>
                <div class="btn" style="margin-top: -10px;">
                    <button ng-click="cajasCtrl.removeDetalle($index)"
                            ng-disabled="!(cajasCtrl.caja.fecha_entrega == null || cajasCtrl.caja.fecha_entrega == '')"
                            class="btn-delete-black btn-small"
                    ></button>
                    <label>Eliminar de la venta</label>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr style="border: solid 0px; border-top-width: 2px; border-top-color: rgba(220,220,220, 0.5);">
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row" style="font-weight: bold;">Total</td>
            <td class="table-row" style="font-weight: bold; text-align: right; padding-right: 25px;">{{cajasCtrl.total |
                currency}}
            </td>
            <td></td>
        </tr>
        <tr>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row">Descuento</td>
            <td class="table-row" style="text-align: right;">
                $<input type="number" style="width: 60px; margin: 0; text-align: right; float: right;"
                        ng-model="cajasCtrl.desc_cant"
                        ng-change="cajasCtrl.calc_a_cobrar('cant')"
            />
            </td>
            <td class="table-row">
                %<input type="number" style="width: 50px;margin: 0; text-align: right; float: right;"
                        ng-model="cajasCtrl.desc_porc"
                        ng-change="cajasCtrl.calc_a_cobrar('porc')"
            />
            </td>
        </tr>
        <tr>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row">Pago con</td>
            <td class="table-row" style="text-align: right;">
                $<input type="number" style="width: 60px;margin: 0; text-align: right; float: right;"
                        ng-model="cajasCtrl.paga_con"
                        ng-change="cajasCtrl.vuelto = (cajasCtrl.paga_con>0 && cajasCtrl.paga_con !== null)?cajasCtrl.a_cobrar - cajasCtrl.paga_con:0;"
            />
            </td>
        </tr>
        <tr>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row" style="font-weight: bold;">A Cobrar</td>
            <td class="table-row" style="font-weight: bold; text-align: right; padding-right: 25px;">
                {{cajasCtrl.a_cobrar | currency}}
            </td>
        </tr>
        <tr>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row"></td>
            <td class="table-row">Vuelto</td>
            <td class="table-row" style="text-align: right;padding-right: 25px;">
                ${{cajasCtrl.vuelto}}
            </td>
        </tr>
        </tfoot>
    </table>


    <!--<div class="ac-grid">-->
    <!--<div class="cabecera">-->
    <!--<h3>Codigo</h3>-->

    <!--<h3 class="descr-grid">Producto</h3>-->

    <!--<h3>Precio Unitario</h3>-->

    <!--<h3>Cantidad</h3>-->

    <!--<h3>Total</h3>-->

    <!--<h3>MP</h3>-->
    <!--</div>-->
    <!--<div ng-repeat="detalle in cajasCtrl.detalles">-->
    <!--<span>{{detalle.sku}} </span>-->
    <!--<span class="descr-grid">{{detalle.producto_nombre}} </span>-->
    <!--<span>{{detalle.precio_unidad | currency}}</span>-->
    <!--<span>{{detalle.cantidad}}</span>-->
    <!--<span>{{detalle.precio_total | currency}}</span>-->
    <!--<input type="checkbox" ng-click="cajasCtrl.agregarMP(detalle);"/>-->


    <!--<div class="btn">-->
    <!--<button ng-click="cajasCtrl.removeDetalle($index)"-->
    <!--ng-disabled="!(cajasCtrl.caja.fecha_entrega == null || cajasCtrl.caja.fecha_entrega == '')"-->
    <!--class="btn-delete-black btn-medium"></button>-->
    <!--<label>Sacar del caja</label>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="line-separator"></div>-->
    <!--<div>-->
    <!--<span></span>-->
    <!--<span class="descr-grid"></span>-->
    <!--<span></span>-->
    <!--<span>Total</span>-->
    <!--<span>{{cajasCtrl.total | currency}}</span>-->
    <!--</div>-->


    <!--<div>-->
    <!--<span></span>-->
    <!--<span class="descr-grid"></span>-->
    <!--<span></span>-->
    <!--<span>Descuento</span>-->
    <!--$<input type="number"-->
    <!--ng-model="cajasCtrl.desc_cant"-->
    <!--ng-change="cajasCtrl.calc_a_cobrar('cant')"-->
    <!--/>-->
    <!--<input type="number"-->
    <!--ng-model="cajasCtrl.desc_porc"-->
    <!--ng-change="cajasCtrl.calc_a_cobrar('porc')"-->
    <!--/>%-->
    <!--</div>-->
    <!--<div>-->
    <!--<span></span>-->
    <!--<span class="descr-grid"></span>-->
    <!--<span></span>-->
    <!--<span>Paga con</span>-->
    <!--$<input type="number"-->
    <!--ng-model="cajasCtrl.paga_con"-->
    <!--ng-change="cajasCtrl.vuelto = (cajasCtrl.paga_con>0 && cajasCtrl.paga_con !== null)?cajasCtrl.a_cobrar - cajasCtrl.paga_con:0;"-->
    <!--/>-->
    <!--</div>-->
    <!--<div>-->
    <!--<span></span>-->
    <!--<span class="descr-grid"></span>-->
    <!--<span></span>-->
    <!--<span>A Cobrar</span>-->
    <!--<span>{{cajasCtrl.a_cobrar | currency}}</span>-->
    <!--</div>-->
    <!--<div>-->
    <!--<span></span>-->
    <!--<span class="descr-grid"></span>-->
    <!--<span></span>-->
    <!--<span>Vuelto</span>-->
    <!--<span>${{cajasCtrl.vuelto}}</span>-->
    <!--</div>-->

    <!--</div>-->


    <div class="btn"><input type="submit" class="relieve-2 btn-ok btn-big" ng-click="cajasCtrl.save();" value=""
                            ng-disabled="cajasForm.$invalid">
        <label>Cobrar</label>
    </div>
    <div class="btn"><input type="submit" class="relieve-2 btn-archive btn-big" ng-click="cajasCtrl.aCuenta();" value=""
                            ng-disabled="cajasForm.$invalid">
        <label>A Cuenta</label>
    </div>
    <div class="custom-in"></div>

</div>