<div ng-controller="ListadoSucursalesController as listadoSucursalesCtrl">
    <div class="title">
        <h1>Listado de Sucursales</h1>
    </div>
    <div class="v-spacer"></div>

    <div class="full-width">

        <input type="text" ng-model="listadoSucursalesCtrl.filtro" class="full-width" required/>
        <label>Buscar...</label>
    </div>


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in listadoSucursalesCtrl.sucursales | filter:listadoSucursalesCtrl.filtro | limitTo:listadoSucursalesCtrl.end:listadoSucursalesCtrl.start"
            ac-last-list-item>

            <td class="">{{row.nombre}}</td>
            <td class="">{{row.direccion}}</td>
            <td class="">{{row.telefono}}</td>
            <td class="">
                <div class="btn">
                    <button ng-click="listadoSucursalesCtrl.detalle(row.sucursal_id)"
                            class="btn-medium btn-visibility"></button>
                    <label>Mostrar Detalle</label>
                </div>
            </td>

        </tr>

    </table>

    <div class="btn">

        <input type="button" class="relieve-2 btn-add  btn-big" value=""
               onclick="window.location='#/sucursales/0';"/>

        <label>Nuevo Pedido</label>
    </div>
</div>
