<div ng-controller="LoginController as loginCtrl">
    <div class="title"><h1>Login</h1></div>
    <div class="v-spacer"></div>

    <div class="responsive-container"
         style="flex-direction: column; justify-content: center; margin-left: 30%; margin-right: 30%;">
        <div class="input-container" style="min-width: 100%">
            <input type="text" ng-model="loginCtrl.mail" required/>
            <label>Mail</label>
        </div>

        <div class="input-container" style="min-width: 100%">
            <input type="password" ng-model="loginCtrl.password" required/>
            <label>Password</label>
        </div>
        <div class="input-container" style="min-width: 100%">
            <select name="sucursales" id="sucursales"
                    ng-model="loginCtrl.sucursal"
                    ng-change="loginCtrl.generarPos()"
                    ng-options="sucursal.nombre  for sucursal in loginCtrl.sucursales">
            </select>
        </div>

        <div class="input-container" style="min-width: 100%">
            <select name="cajas" id="cajas"
                    ng-model="loginCtrl.pos_selected"
                    ng-options="pos.nombre for pos in loginCtrl.pos">
            </select>
            <label>POS</label>
        </div>
        <div class="btn"><input type="submit"
                                ng-click="mainCtrl.login(loginCtrl.mail, loginCtrl.password, loginCtrl.sucursal, loginCtrl.pos_selected);"
                                class="relieve-2 btn-ok btn-big" value="">
            <label>Ingresar</label>
        </div>
    </div>


</div>
