<div ng-controller="ListadoProductosController as listadoProductosCtrl">
    <div class="title"><h1>Listado Productos</h1></div>
    <div class="v-spacer"></div>

    <div class="full-width">

        <input type="text" ng-model="listadoProductosCtrl.filtro.nombre" class="full-width" required
               ng-keyup="(listadoProductosCtrl.filtro.nombre.length > 0)?listadoProductosCtrl.start = 0:listadoProductosCtrl.start = listadoProductosCtrl.lastView;"/>
        <label>Buscar...</label>
    </div>

    <table st-table="listadoProductosCtrl.productos" class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Destacado</th>
            <th>Categoria</th>
            <th>Imagen</th>
            <!--<th>Detalle</th>-->
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="row in listadoProductosCtrl.productos | filter:listadoProductosCtrl.filtro | limitTo:listadoProductosCtrl.end:listadoProductosCtrl.start"
            ac-last-list-item ng-click="listadoProductosCtrl.detalle(row.producto_id)">

            <td class="">{{row.nombre}}</td>
            <td class="">
                <div class="btn" ng-if="row.destacado == 1">
                    <button class="btn-small btn-star-outlined"></button>
                    <label>Destacado</label>
                </div>
            </td>
            <td class="">{{row.categoria}}</td>
            <td class="">
                <img ng-src="./images/{{row.fotos[0].nombre}}"
                     alt="{{row.fotos[0].nombre}}"
                     height="100" width="100" style="background-color: #dddddd;">
            </td>
            <!--<td class="">{{row.descripcion}}</td>-->
            <!--<td class="">-->
                <!--<div class="btn">-->
                    <!--<button ng-click="listadoProductosCtrl.detalle(row.producto_id)"-->
                            <!--class="btn-medium btn-visibility"></button>-->
                    <!--<label>Mostrar Detalle</label>-->
                <!--</div>-->
            <!--</td>-->

        </tr>
        <!--</tbody>-->
        <!--<tfoot>-->
        <!--<tr>-->
        <!--<td colspan="5" class="text-center" style="display: flex;">-->
        <!-- -->
        <!--</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    </table>

    <div style="display: flex; width: 100%; align-content: space-around;">
        <div style="flex: 5;"></div>
        <div style="height: 40px; width: 40px;text-align: center;line-height:40px;"
             class="btn btn-empty btn-small relieve-1"
             ng-click="listadoProductosCtrl.prev();">Ant.
        </div>
        <!--<div style="max-width: 100%;display: flex; overflow-x: auto; scrollbar-face-color: #000000;">-->

        <!--<div style="text-align: center;line-height:25px;margin: 5px; min-width: 25px; height: 25px; cursor: pointer;"-->
        <!--class="btn btn-empty btn-small" ng-repeat="numero in listadoProductosCtrl.paginas"-->
        <!--ng-click="listadoProductosCtrl.irAPagina($index);">{{$index + 1}}</div>-->
        <!--</div>-->
        <div style="margin-top: 10px;">
            <span>Página {{listadoProductosCtrl.pagina}} de {{listadoProductosCtrl.paginas}}</span></div>
        <div style="margin-top: 10px;">Ir a <input style="width: 40px;" type="number"
                                                   ng-model="listadoProductosCtrl.pagina"
                                                   ng-change="listadoProductosCtrl.goToPagina();"
                                                   ng-keyup="listadoProductosCtrl.goToPagina();"></div>

        <div style="height: 40px; width: 40px;text-align: center;line-height:40px;"
             class="btn btn-empty btn-small relieve-1"
             ng-click="listadoProductosCtrl.next();">Sig.
        </div>
        <div style="flex: 5;"></div>
    </div>


    <!--</div>-->

    <div class="btn">

        <input type="button" class="relieve-2 btn-add  btn-big" value=""
               onclick="window.location='#/productos/0';"/>

        <label>Nuevo Producto</label>
    </div>
</div>
