<div class="title">
    <div class="btn ">
        <input type="submit" class="btn-back btn-medium no-margin"
               onclick="window.location='#/listado_productos';"
               value="">
        <label>Volver</label>
    </div>
    <h1>Administrar Productos</h1>
</div>
<div class="v-spacer"></div>
<form ng-controller="ProductosController  as productosCtrl"
      name="productForm" novalidate>
    <div class="responsive-container">
        <div class="input-container">
            <input type="text" id="nombre" name="nombre" ng-model="productosCtrl.producto.nombre" ng-maxlength="45"
                   required>
            <label for="nombre">Nombre</label>

        </div>

        <div class="input-container">
            <input type="text" id="descripcion" name="descripcion" ng-model="productosCtrl.producto.descripcion"
                   ng-maxlength="2000" required>
            <label for="descripcion">Descripción</label>

        </div>

        <div class="input-container">
            <input type="number" id="pto_repo" name="pto_repo" ng-model="productosCtrl.producto.pto_repo"
                   ng-maxlength="45"
                   required><label for="pto_repo">Punto Reposición</label>
        </div>

        <div class="input-container">
            <select name="status" id="status" ng-model="productosCtrl.producto.status">
                <option value="1" selected>Activo</option>
                <option value="0">Inactivo</option>
            </select><label for="status">Estado</label>
        </div>

        <div class="input-container">
            <select name="en_oferta" id="en_oferta" ng-model="productosCtrl.producto.en_oferta">
                <option value="1" selected>Si</option>
                <option value="0">No</option>
            </select><label for="en_oferta">En Oferta</label>
        </div>

        <div class="input-container">
            <select name="en_slider" id="en_slider" ng-model="productosCtrl.producto.en_slider">
                <option value="1" selected>Si</option>
                <option value="0">No</option>
            </select><label for="en_slider">En Slider</label>
        </div>

        <div class="input-container">
            <select name="categoria" id="categoria" ng-model="productosCtrl.categoria"
                    ng-options="categoria.categoria_id as categoria.nombre  for categoria in productosCtrl.categorias">
            </select>
            <label for="categoria">Categoria</label>
        </div>

        <div class="input-container">
            <input type="text" id="sku" name="sku" ng-model="productosCtrl.producto.sku" ng-maxlength="45"
                   required>
            <label for="sku">SKU</label>
        </div>

        <div class="input-container">
            <select name="destacado" id="destacado" ng-model="productosCtrl.producto.destacado">
                <option value="1">Si</option>
                <option value="0" selected>No</option>
            </select><label for="destacado">Destacado</label>

        </div>

        <div class="input-container">
            <select name="producto_tipo" id="producto_tipo" ng-model="productosCtrl.producto.producto_tipo">
                <option value="0" selected>Producto</option>
                <option value="1">Insumo</option>
                <option value="2">Kit</option>
                <option value="3">Servicio</option>
                <option value="4">Granel</option>
            </select><label for="producto_tipo">Tipo de producto</label>

        </div>


        <div class="input-container">
            <input id="precio_minorista" type="number" ng-model="productosCtrl.precio_minorista" required/>

            <label for="precio_minorista">Precio Minorista</label>

        </div>

        <div class="input-container">
            <input id="precio_mayorista" type="number" ng-model="productosCtrl.precio_mayorista" required/>

            <label for="precio_mayorista">Precio Mayorista</label>

        </div>
        <div class="input-container">
            <input id="precio_oferta" type="number" ng-model="productosCtrl.precio_oferta" required/>

            <label for="precio_oferta">Precio Oferta</label>
        </div>


        <div class="input-container" style="max-height: 150px;overflow-y: auto; position: relative;">
            <div style="display: flex; flex-direction: column;">
                <h3>Proveedores</h3><br/>
                <input style="margin-top: -20px;" placeholder="Buscar proveedor..." type="text" ng-model="productosCtrl.filter">
            </div>
            <div ng-repeat="proveedor in productosCtrl.proveedores | filter:productosCtrl.filter">

                <label class="label--checkbox">
                    <input type="checkbox"
                           id="{{proveedor.usuario_id}}"
                           class="checkbox"
                           ng-model="productosCtrl.listProveedores[proveedor.usuario_id]"
                           name="proveedor">
                    {{proveedor.nombre}}
                </label>


                <!--<input name="proveedor"-->
                <!--id="{{proveedor.proveedor_id}}"-->
                <!--type="checkbox"-->
                <!--ng-model="productosCtrl.listProveedores[proveedor.proveedor_id]"/>-->
                <!--{{proveedor.nombre}}<br/>-->
                <!--</div>-->

            </div>
        </div>
        <fieldset class="input-container" ng-disabled="productosCtrl.producto.producto_tipo != 2"
                  style="max-height: 500px; max-width: 25%; min-height: 400px;">
            <div><h3>Productos a incluir en el Kit</h3>
            </div>
            <label for="nombre">Nombre</label>
            <input ng-keyup="productosCtrl.searchProductoKit();"
                   type="text" ng-model="productosCtrl.producto_kit_busqueda">

            <div style="overflow: auto; max-height: 200px">
                <table st-table="productosCtrl.productos_kit" class="table table-striped">
                    <tbody>

                    <tr ng-repeat="row in productosCtrl.productos_kit">

                        <td>
                            {{row.nombre}}
                        </td>
                        <td>
                            <div class="btn btn-add btn-small" ng-click="productosCtrl.agregarKit(row);">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="overflow: auto; max-height: 200px">
                <label for="nombre">Agregados</label>
                <table st-table="productosCtrl.productos_en_kit" class="table table-striped">
                    <tbody>

                    <tr ng-repeat="row in productosCtrl.producto.kits">

                        <td>
                            {{row.nombre}}
                        </td>
                        <td>
                            <div class="btn btn-delete btn-small" ng-click="productosCtrl.quitarKit(row);">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>

        <div class="input-container">
            <div><h3>Fotos</h3>
                <input type="file" name="images" id="images"
                       data-dbinf-on-files-selected="agregarImagen(selectedFileList)"/>
            </div>


            <div ng-repeat="image in productosCtrl.producto.fotos">
                <span>{{image.nombre}}</span>

                <div class="btn">
                    <button ng-click="productosCtrl.deleteImage(image.nombre)"
                            class="btn-delete-black btn-medium"></button>
                    <label>Eliminar Foto</label>
                </div>
            </div>
        </div>


    </div>


    <div>
        <!--<input type="submit"-->
        <!--ng-disabled="productForm.user.$dirty && productForm.user.$invalid ||-->
        <!--productForm.email.$dirty && productForm.email.$invalid">-->
        <div class="btn"><input type="submit" ng-click="productosCtrl.save();" class="relieve-2 btn-ok btn-big"
                                value="">
            <label>Guardar Producto</label>
        </div>

        <div ng-if="productosCtrl.id != 0" class="btn">
            <input type="submit" ng-click="productosCtrl.delete();"
                   class="relieve-2 btn-delete btn-big" value="">
            <label>Eliminar Producto</label>
        </div>
    </div>

</form>

