<div ng-controller="ConsultaStockController as consultaStockCtrl" xmlns="http://www.w3.org/1999/html">
    <div class="title"><h1 >Consulta de Stock</h1></div>

    <div class="v-spacer"></div>

    <div class="full-width lista-flex" >

        <div>
            <input type="text" ng-model="consultaStockCtrl.filtro" class="full-width" required/>
            <label>Filtrar Productos...</label>
        </div>
        <select
                ng-model="consultaStockCtrl.sucursal"
                ng-options="sucursal.nombre  for sucursal in consultaStockCtrl.sucursales" name=""
                ng-click="consultaStockCtrl.filtroSucursal()">

        </select>
        <div>
            <label class="label--checkbox">
                <input type="checkbox" class="checkbox" ng-model="consultaStockCtrl.conStock" ng-click="consultaStockCtrl.loadConStock();">
                Con Stock
            </label>
        </div>
    </div>

    <div class="ac-grid ">
        <div class="cabecera lista-flex">
            <h3>Producto</h3>
            <h3 >Proveedor</h3>
            <h3 >Sucursal</h3>
            <h3>Comprado</h3>
            <h3>Actual</h3>
        </div>

        <div class="lista-flex" ng-repeat="stock in consultaStockCtrl.stocks | filter:consultaStockCtrl.filtro">
            <span>{{stock.producto}}</span> <span>{{stock.proveedor}}</span>
            <span>{{stock.sucursal}}</span>
            <span>{{stock.cant_total}}</span> <input type="number" ng-model="stock.cant_actual"
                                                     ng-blur="consultaStockCtrl.updateStock(stock);"/>

            <div class="btn">
            </div>
        </div>

    </div>
</div>
